.parent {
  height: 0;
  padding-bottom: 50%;
  position: relative;
}

.GameField {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  border: 6px solid #000084;
}

#field01 {
  background-color: green;
  border-top-left-radius: 100%;
}

#field02 {
  background-color: red;
  border-top-right-radius: 100%;
}

#field03 {
  background-color: yellow;
  border-bottom-left-radius: 100%;
}

#field04 {
  background-color: blue;
    border-bottom-right-radius: 100%;
}

#field01.active {
  background-color: white;
}

#field02.active {
  background-color: white;
}

#field03.active {
  background-color: white;
}

#field04.active {
  background-color: white;
}

.btn {
  margin: 0 30px 20px 0;
  }

.lead {
  color: #bbbbbb;
}

#gamecontrols {
  margin: 40px 0;
}
